<mat-toolbar class="toolbar-header mat-elevation-z8">
    <mat-toolbar-row>

        <app-action-bar (actionVolver)="volver()" [options]="options"></app-action-bar>

    </mat-toolbar-row>
</mat-toolbar>

<mat-card>

    <form>

        <mat-spinner *ngIf="loading"></mat-spinner>

        <mat-tab-group *ngIf="!loading" class="animated fadeIn">

            <mat-tab label="Datos Generales">

                <div class="col-12">
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input matInput [value]="usuario.nombre">
                    </mat-form-field>
                </div>

                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Nombre de usuario</mat-label>
                        <input matInput [value]="usuario.username">
                    </mat-form-field>
                </div>

                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput [value]="usuario.email">
                    </mat-form-field>
                </div>

            </mat-tab>

            <mat-tab label="Grupo del usuario">

                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Grupo de usuarios</mat-label>
                        <mat-select [(ngModel)]="usuario.grupo" name="grupo" >
                            <mat-option *ngFor="let grupo of grupos" [value]="grupo">
                                {{grupo.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                            </div>

            </mat-tab>


        </mat-tab-group>

        <div class="submit-button" style="padding-left: 15px; padding-right: 15px;" > 
            <button mat-raised-button color="primary" (click)="submit()">Guardar</button>
        </div>

    </form>


</mat-card>