<h3 class="titulo-pagina" >{{ titulo }}</h3>

<button mat-button (click)="nuevo()" >Nuevo</button>

<hr>

<div class="row">
    <div class="col-12">
        <br>

        <mat-spinner *ngIf="loading"></mat-spinner>

        <div *ngIf="!loading" class="mat-elevation-z8 animated fadeIn">

            <table mat-table *ngIf="!loading" [dataSource]="usuarios" >

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let usuario"> {{ usuario.id }} </td>
                </ng-container>
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let usuario"> {{ usuario.nombre }} </td>
                </ng-container>
                <ng-container matColumnDef="login">
                    <th mat-header-cell *matHeaderCellDef> Login </th>
                    <td mat-cell *matCellDef="let usuario"> {{ usuario.username }} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let usuario"> {{ usuario.email }} </td>
                </ng-container>
                <ng-container matColumnDef="options">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let usuario" class="right">
                        <button mat-icon-button (click)="editar(usuario.id)">
                            <mat-icon>create</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['id', 'nombre', 'login', 'email', 'options']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['id', 'nombre', 'login', 'email', 'options'];"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons >
            </mat-paginator>

        </div>

    </div>
</div>