/* sidebar */

.sidebar-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidebar-content {
    width: auto;
    background-color: #ECEFF1;
}


/* topbar */

.background-dark {
    background: #3E433F;
    color: #fff;
}

.background-toolbar {
    color: #fff;
}

.background-toolbar a {
    color: #fff !important;
}

.background-toolbar a:hover {
    text-decoration: none;
}

.logo-img {
    width: 180px;
    height: 58px;
}

.btn-toggle {
    outline: none;
}

.m-5 {
    margin-top: 1.5rem !important;
}