<mat-toolbar *ngIf="showNav" color="primary" class="background-toolbar">
    <mat-toolbar-row>

        <a href="/">
            <mat-icon>event_note</mat-icon>
            GestionDe<strong>Aulas</strong>
            <!--    <img class="logo-img" src="assets/img/logo-gestion-aulas.png"> -->
        </a>
        <button id="button-toggle" mat-icon-button (click)="sidenav.toggle()" class="btn-toggle">
            <mat-icon class="animated fadeIn" >{{ opened ? 'navigate_before' : 'navigate_next' }}</mat-icon>
        </button>

        <span class="flex-spacer"></span>

        <button id="logout" mat-icon-button (click)="logout()">
            <mat-icon class="animated fadeIn" >logout</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidebar-container" [ngStyle]="{ 'top': showNav ? '64px' : '0px' }">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="eventAbrir()" (closed)="eventCerrar()">
        <mat-accordion multi>

            <mat-expansion-panel *ngIf="items['configuracion']">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon matListIcon>settings</mat-icon>
                        Configuración
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list>
                    <mat-list-item *ngFor="let item of items['configuracion']" [routerLink]="item.link">
                        <a matLine> {{ item.nombre }} </a>
                        <mat-icon matListIcon> {{ item.icono }} </mat-icon>
                    </mat-list-item>
                </mat-nav-list>

            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="items['registros']">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon matListIcon>inventory</mat-icon>
                        Registros
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list>
                    <mat-list-item *ngFor="let item of items['registros']" [routerLink]="item.link">
                        <a matLine> {{ item.nombre }} </a>
                        <mat-icon matListIcon> {{ item.icono }} </mat-icon>
                    </mat-list-item>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="items['gestion']">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon matListIcon>receipt_long</mat-icon>
                        Gestión
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list>
                    <mat-list-item *ngFor="let item of items['gestion']" [routerLink]="item.link">
                        <a matLine> {{ item.nombre }} </a>
                        <mat-icon matListIcon> {{ item.icono }} </mat-icon>
                    </mat-list-item>
                </mat-nav-list>
            </mat-expansion-panel>

        </mat-accordion>

    </mat-sidenav>

    <mat-sidenav-content class="sidebar-content">
        <!-- <mat-checkbox [(ngModel)]="opened"></mat-checkbox> -->

        <div class="row no-margin">
            <div class="col m-5">

                <router-outlet></router-outlet>

            </div>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>